
header 
    div(class='my_container header-nav')
        .logo 
            
            img(src="/WebTech_CW2_Semester2/public/images/logo.png")



















//- LOGO   https://cdn.dribbble.com/users/857299/screenshots/5279698/media/7c6e5da716ccc9b85a6476049ec4f297.jpg?compress=1&resize=1200x900&vertical=top
//- MUSK   https://thumbor.forbes.com/thumbor/fit-in/416x416/filters%3Aformat%28jpg%29/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F5f47d4de7637290765bce495%2F0x0.jpg%3Fbackground%3D000000%26cropX1%3D1699%26cropX2%3D3845%26cropY1%3D559%26cropY2%3D2704