header 
    div(class='my_container header-nav d-flex flex-row justify-content-between align-items-center px-3')
        .logo(class='d-flex flex-row justify-content-between align-items-center')     
            .logo-img-div
                img(class='img-fluid w-75' src="https://raw.githubusercontent.com/ShakhPortfolio/WebTech_CW2_Semester2/main/public/images/logo.png")
            .logo-search(class='d-flex flex-row justify-content-start align-items-center w-75')
                i(class='fas fa-search py-1 px-2')
                input(class='py-1 px-2 w-75 border border-white ' type='text' placeholder='search..')
        .user-account(class='d-flex flex-row justify-content-between align-items-center ') 
            .account 
                i(class="fas fa-info-circle mx-2")
                i(class='fas fa-bell mx-2')
                a(href='/' class='mx-2') Elon Musk
                    i(class="fas fa-caret-down mx-1")
            .account-img-div
                img(class='img-fluid' src="https://raw.githubusercontent.com/ShakhPortfolio/WebTech_CW2_Semester2/main/public/images/user.png")




















//- LOGO   https://cdn.dribbble.com/users/857299/screenshots/5279698/media/7c6e5da716ccc9b85a6476049ec4f297.jpg?compress=1&resize=1200x900&vertical=top
//- MUSK   https://thumbor.forbes.com/thumbor/fit-in/416x416/filters%3Aformat%28jpg%29/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F5f47d4de7637290765bce495%2F0x0.jpg%3Fbackground%3D000000%26cropX1%3D1699%26cropX2%3D3845%26cropY1%3D559%26cropY2%3D2704
